<mat-toolbar class="toolbar">
    <button mat-button class="button">
        <span routerLink="/adminupload">Upload</span>
    </button>
    <button mat-button class="button">
        <span routerLink="/adminmain">Main</span>
    </button>
    <button mat-button class="button">
        <span routerLink="/adminlogin">Login</span>
    </button>
    <button mat-button class="button" (click) = "logout()">
        <span routerLink="/adminlogin">Logout</span>
    </button>
    <button mat-button class="button">
        <span routerLink="/adminregistration">Registration</span>
    </button>
</mat-toolbar>
