#input{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}


img{
    width: 200px;
}

li{
    list-style-type: none;
    padding: 10px;
    background-color: rgb(249, 247, 247);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-gap: 10px;
}

h3{
    margin-left: 40px;
}