#input{
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#uploadInput{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#clear{
    display: flex;
    align-items: center;
    flex-direction: column;
    align-self: flex-end
}


img{
    width: 200px;
}

li{
    list-style-type: none;
    padding: 10px;
    background-color: rgb(246, 246, 246);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-gap: 10px;
}

h3{
    margin-left: 40px;
}