.landingPageMain{
    width:100%;
    height:100vh;
    background-image: url('https://m.blog.hu/fa/fastfoodcentral/image/2022/don_pepe/06-jun/juniusi_akcios_pizza_don_pepe_junius.jpg');
    background-size: cover;
}