<header>
    <app-toolbar [orderDataLength]="orderDataLength"></app-toolbar>
</header>
<mat-toolbar class="toolbar">
        <button mat-button class="button" (click)="scrollTo(pizzas)">
            <span>Pizzák</span>
        </button>
        <button mat-button class="button" (click)="scrollTo(soups)">
            <span>Levesek</span>
        </button>
        <button mat-button class="button" (click)="scrollTo(desserts)">
            <span >Desszertek</span>
        </button>
        <button mat-button class="button" (click)="scrollTo(pastas)">
            <span>Tészták</span>
        </button>
        <button mat-button class="button" (click)="scrollTo(piadinas)">
            <span >Piadinák</span>
        </button>
        <button mat-button class="button" (click)="scrollTo(salads)">
            <span>Saláták</span>
        </button>
        <button mat-button class="button" (click)="scrollTo(drinks)">
            <span>Italok</span>
        </button>
</mat-toolbar>


<div id="main">
    <div id="order" #pizzas>
        <h3 class="pizzas">Pizzák</h3>
        <ul class="grid-container">
            <li *ngFor="let data of pizzasData">
                <div id="orderCards">
                    <div id="image-price">
                        <img [src]="data.file" alt="Image">
                        <p>{{ data.price }} Ft</p>
                    </div>
                    <div id="name-component-button">
                        <p class="p">{{ data.name }}</p>
                        <p class="p2">{{ data.component }}</p>
                        <div class="orderbutton">
                            <button mat-raised-button (click)="saveToCart(data.name, data.component, data.file, data.price)">
                                <p>Kosárba!</p>
                            </button>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div id="order" #piadinas>
        <h3 class="piadinas">Piadínák</h3>
        <ul class="grid-container">
            <li *ngFor="let data of piadinasData">
                <div id="orderCards">
                    <div id="image-price">
                        <img [src]="data.file" alt="Image">
                        <p> {{ data.price }} Ft</p>
                    </div>
                    <div id="name-component-button">
                        <p class="p">{{ data.name }}</p>
                        <p class="p2">{{ data.component }}</p>
                        <button mat-raised-button (click)="saveToCart(data.name, data.component, data.file, data.price)">
                            <p>Kosárba!</p>
                        </button>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div id="order" #pastas>
        <h3 class="pastas" >Tészták</h3>
        <ul class="grid-container">
            <li *ngFor="let data of pastasData">
                <div id="orderCards">
                    <div id="image-price">
                        <img [src]="data.file" alt="Image">
                        <p>{{ data.price }} Ft</p>
                    </div>
                    <div id="name-component-button">
                        <p class="p">{{ data.name }}</p>
                        <p class="p2">{{ data.component }}</p>
                        <button mat-raised-button (click)="saveToCart(data.name, data.component, data.file, data.price)">
                            <p>Kosárba!</p>
                        </button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    
    <div id="order" #salads>
        <h3 class="salads" >Saláták</h3>
        <ul class="grid-container">
            <li *ngFor="let data of saladsData">
                <div id="orderCards">
                    <div id="image-price">
                        <img [src]="data.file" alt="Image">
                        <p>{{ data.price }} Ft</p>
                    </div>
                    <div id="name-component-button">
                        <p class="p">{{ data.name }}</p>
                        <p class="p2">{{ data.component }}</p>
                        <<button mat-raised-button (click)="saveToCart(data.name, data.component, data.file, data.price)">
                            <p>Kosárba!</p>
                        </button>
                    </div>  
                </div>
            </li>
        </ul>
    </div>
    
    <div id="order" #soups>
        <h3 class="soups">Levesek</h3>
        <ul class="grid-container">
            <li *ngFor="let data of soupsData">
                <div id="orderCards">
                    <div id="image-price">
                        <img [src]="data.file" alt="Image">
                        <p>{{ data.price }} Ft</p>
                    </div>
                    <div id="name-component-button">
                        <p class="p">{{ data.name }}</p>
                        <p class="p2">{{ data.component }}</p>
                        <button mat-raised-button (click)="saveToCart(data.name, data.component, data.file, data.price)">
                            <p>Kosárba!</p>
                        </button>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div id="order" #desserts>
        <h3 class="desserts" >Deszertek</h3>
        <ul class="grid-container">
            <li *ngFor="let data of dessertsData">
                <div id="orderCards">
                    <div id="image-price">
                        <img [src]="data.file" alt="Image">
                        <p>{{ data.price }} Ft</p>
                    </div>
                    <div id="name-component-button">
                        <p class="p">{{ data.name }}</p>
                        <p class="p2">{{ data.component }}</p>
                        <button mat-raised-button (click)="saveToCart(data.name, data.component, data.file, data.price)">
                            <p>Kosárba!</p>
                        </button>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div id="order" #drinks>
        <h3 class="drinks">Italok</h3>
        <ul class="grid-container">
            <li *ngFor="let data of drinksData">
                <div id="orderCards">
                    <div id="image-price">
                        <img [src]="data.file" alt="Image">
                        <p>{{ data.price }} Ft</p>
                    </div>
                    <div id="name-component-button">
                        <p class="p">{{ data.name }}</p>
                        <p class="p2">{{ data.component }}</p>
                        <button mat-raised-button (click)="saveToCart(data.name, data.component, data.file, data.price)">
                            <p>Kosárba!</p>
                        </button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>