<header>
    <app-toolbar></app-toolbar>
</header>
<mat-toolbar class="toolbar">
        <button mat-button class="button">
            <span routerLink="/ordermain">Pizza</span>
        </button>
        <button mat-button class="button">
            <span routerLink="/restaurant">Soup</span>
        </button>
        <button mat-button class="button">
            <span routerLink="/restaurant">Dessert</span>
        </button>
        <button mat-button class="button">
            <span routerLink="/restaurant">Pasta</span>
        </button>
        <button mat-button class="button">
            <span routerLink="/restaurant">Piadina</span>
        </button>
        <button mat-button class="button">
            <span routerLink="/restaurant">Salad</span>
        </button>
        <button mat-button class="button">
            <span routerLink="/restaurant">Drink</span>
        </button>
</mat-toolbar>

  
  