.toolbar {
    position: fixed;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    height: 100px;
}

.image-container {
    display: flex;
    align-items: center;
    height: 100px;
}

.image-container img {
    object-fit: cover;
    width: 200px;
    height: 80px;
}

.image-container button {
    width: 250px;
    height: 100px;
}

.button-container {
    display: flex;
    gap: 10px;
}

.button-container button {
    flex-shrink: 0;
    font-weight: bold;
    font-size: 20px;
}

.button-container button :hover{
    color: #d81919;
}

