<mat-toolbar class="toolbar">
    <div class="image-container">
        <button mat-icon-button routerLink="/landingpage">
            <img src="https://www.ehenhalok.hu/media/HU-RIPU-BZUR-FMJZ.jpg" alt="Image Description">
        </button>
    </div>
    <div class="button-container">
        <button mat-button class="button">
            <span routerLink="/ordermain">Menü</span>
        </button>
        <button mat-button class="button">
            <span routerLink="/restaurant">Éttermeink</span>
        </button>
    </div>
    <div class="basket-icon-orderLength">
        <button class="basket-icon" mat-icon-button routerLink="/basket">
            <mat-icon>add_shopping_cart</mat-icon>
        </button>
        <p>{{orderDataLength}}</p>
        <button class="account-icon" mat-icon-button routerLink="/login">
            <mat-icon>account_circle</mat-icon>
        </button>
    </div>
</mat-toolbar>
